body{
	background-image: linear-gradient(to bottom right, #5F94FF, #FFFFFF);
}
#cabecera{
		display:inline;
		background-image: linear-gradient(#D1CFFF,white);
		margin-left:5%;
		margin-right:5%;
		width: 92%;
		float: left;
	}
.vmenu{
	list-style-type:none;
	margin-top:8%;
	padding:1%;
	}
#logo {
	display:inline;
	width:20%;
	margin-top:9%;
	 margin-left:1%;
	float:left;
	
	}
.row {
    margin-right: 0;
}
.vmenu li a {	 display:inline;
				height:2vw;
				 padding:1%;
				 background: #D1CFFF ;
				 color: #ffffff;
				 text-align:center;
				 font-size: x-large;
				 text-decoration:none;
				   margin-left:3%;
				   margin-bottom:1%;
				 float:left;
				 }
#auten{
		 		display:inline;
				width: 4%;
				height:2vw;
				padding: 1%;
				background-image:url(icono%20autentificacion.png);
				text-align:center;
				text-decoration:none;
				margin-left:3%;
				margin-bottom:1%;
				float:left;
}
.vmenu li a:hover{
		background-color: #F7D128;
		border-radius:1vw;
		 color: #fff;
		 }

.aliniar{
	float: left;
	display:inline;
	margin-left: 5%;
	margin-right: 3%;
	margin-top: 1%;
	height:50%;
	padding: 2%;
	padding-top: 1%;
	background-image: linear-gradient(to bottom right, #FFF889, white);
	text-align:justify;

}
.text-center {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.text-justify {
	font-family: Arial, Helvetica, sans-serif
}
#f{
	float: right;
	margin-right: 3%;
	margin-top: 1%;
	padding: 2%;
	padding-top: 1%;
	background-image: linear-gradient(to bottom right, #FFF889, white);
	text-align:justify;
}
footer li a{
	width:10%;
	height:2vw;
	list-style-type:none;
	text-decoration:none;
}
footer{
	padding: 1%;
	width:92%;
	margin-right:5%;
	margin-left: 5%;
	margin-bottom: 2%;
	margin-top: 2%;
	background-image: linear-gradient(to bottom right, #FFF889, white);
	box-sizing:border-box;
	float:left;
}
#logopie{
	display:inline;
	width:20%;
	padding-left: 25%;
	padding-right: 25%;
	float:left;
}
#piePrimero{
	display:inline-block;
	list-style-type:none;
	text-align:left;
	font-size:1em;
	float:left;
}
#pieMedio{
	list-style-type:none;
}
#pieSegundo{
	display:inline-block;
	list-style-type:none;
	text-align:right;
	font-size:1em;
	float:left;
}
#logo {
    width: 95%;
    height: 40px;
    margin: 0 0 5% 10%
}
#header {
    padding-top: 1%;
    background-image: linear-gradient(to bottom right, #5F94FF, #FFFFFF);
    height: auto;
	border-bottom: 2px solid black;
	width: 100%
}
button, a {
    width: 100%;
    background-color: #e6fff3;
    margin-bottom: 2vh
}
.btn.btn-danger:hover {
    background-color: #F7D128;
    border-radius:1vw;
    color: black;
}
#footer{

	background-image: linear-gradient(to bottom right, #5F94FF, #FFFFFF);
    width: auto;
	height: auto;
	text-align: center;
}

.enlaces{

	color: #FF0000;

}
.container {
	background-image: linear-gradient(to bottom right, #FFF889, white);
	padding-bottom: 5%;
	margin-bottom: 5%
}
.row {
    margin-right: 0 !important;
}
.col-md-2 {
    max-width: 100% !important;
}
.form-control {
	margin-bottom: 1%;
}