body {
    margin-bottom: 5%;
}
.container {
    background-color: #D8D8D8;
}
.card {
    text-align: center;
    padding: 2%;
    margin-top: 20%;
}
.container {
    margin-bottom: 5%;
    padding-bottom: 5%
}
#logo {
    width: 50px;
    height: auto;
}
#header {
    padding-top: 1%;
    background-color: aqua;
    height: auto;
    border-bottom: 2px solid black;
}
button {
    width: 100%
}
#titulo_alquiler {
    margin: 2% 2%
}
#filaCargar {
    margin-top: 5%
}
@media only screen and (max-width: 768px) {
    button {
        margin: 0 auto;
        width: 100%
    }
    select {
        margin: 1% 1%
    }
}