body {
    margin-bottom: 5%;
    background-image: linear-gradient(to bottom right, #5F94FF, #FFFFFF);
}
.container {
    background-image: linear-gradient(to bottom right, #FFF889, white);
    padding-bottom: 5%;
}
.row {
    margin-right: 0;
}
.col-md-2 {
    max-width: 100% !important;
}
.card {
    text-align: center;
    padding: 2%;
    margin-top: 20%;
    transition: transform .2s;
}
.card:hover {
    transform: scale(1.2);
    z-index: 1;
}
#logo {
    width: 95%;
    height: 40px;
    margin: 0 0 5% 10%
}
#header {
    padding-top: 1%;
    background-image: linear-gradient(to bottom right, #5F94FF, #FFFFFF);
    height: auto;
    border-bottom: 2px solid black;
}
button, a {
    width: 100%;
    margin-bottom: 2vh;
}
.btn.btn-danger:hover {
    background-color: #F7D128;
    border-radius:1vw;
    color: black;
}
#login {
    padding-right: 10px;
}
#titulo_alquiler {
    margin: 2% 0 2% 0;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#filaCargar {
    margin-top: 5%
}
span {
    font-style: italic;
}
select {
    font-family: Arial, Helvetica, sans-serif;
}
#x{

}

#footer{

	background-image: linear-gradient(to bottom right, #5F94FF, #FFFFFF);
    width: auto;
    text-align: center

}

.enlaces{

	color: #FF0000;

}
@media only screen and (max-width: 768px) {
    button {
        margin: 0 auto;
        width: 100%
    }
    select {
        margin: 1% 1%
    }
}